#banner {
    background-image: url(../images2/bannerbg.png);
    background-repeat: repeat-x;
    text-align: center;
    overflow-x: hidden;
}

body {
    background-image: url(../images2/background.png);
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}
h1{

    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;

}

#container{

    margin: auto;
    border-radius: 20px;
    border: 4px solid grey;
    width: 800px;
    padding: 0px;
    
    

}

#general_overview{

    width:250px;
    float:right;
    background-color: #A2B964;
    overflow: hidden;
    font-family:Arial,sans-serif;
    border-radius: 0px 15px 0px 0px;
 
}

#movieInfo{
       row-gap: 20px;
       border-radius: 0px 0px 0px 15px;
}

dl{
   
   font-weight: bold;
  
}
dt{
    padding-top: 10pt;
}



ul{

    list-style-type: none;
    padding-left: 5px;
  
}

#leftside{

    border-radius: 20px;
    width:550px;
 }

 
 #reviewSection{
    background-image: url('/images2/background.png');
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2%;
    
    
}

#reviewSection >div{
    padding: 2px;
    
}

#rotten{

    background-image: url(../images2/rbg.png);
    background-repeat: repeat-x;
    font-size: 48px;
    font-weight: bold;
    color: red;
    height: 83px;
    background-size: auto 83px;
    border-radius: 15px 0px 0px 0px;
  
}

#rotten img {
    
    float: left;
    border-radius: 15px 0px 0px 0px;
    height: 83px;
    
}

p.review  {
    background-color: #e8dc9b;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-size: 8pt;
    font-weight: bold;
    overflow: hidden;
}

p.reviewer{

    margin-bottom: 20pt;
    overflow: hidden;
    font-style: italic;
}

#reviewSection img {
    float: left;
    margin-right: 5px;
}

p #reviewer   {
    margin-bottom: 20pt;
    overflow: hidden;
    font-style: italic;
}

#bottom
{
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
}

#validator{
   
     position: fixed;
     right: 0;
     bottom: 0;
     opacity: 0.5;
}